:root {
    --color-red: #ee6352;
    --color-green: #59d183;
    --color-blue: #266dd3;
    --color-orange: #fed766;
    --color-light: #efe9f4;
    --color-dark: #1f2329;

    --font-primary: 'Lato', sans-serif;
    --font-secondary: 'Pacifico', cursive;
    --font-code: 'Fira Code', monospace;

    --font-size-ssm: 11pt;
    --font-size-sm: 12pt;
    --font-size-md: 14pt;
    --font-size-lmg: 18pt;
    --font-size-lg: 22pt;
    --font-size-xlg: 32pt;
}
