@use 'vars';

.Board {
    display: grid;
    grid-template-rows: auto auto 1fr;
    border: 1px solid var(--color-green);
    border-radius: 4px;
    padding: 10px;

    .Board__Header {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto 50px;
        grid-template-areas:
            'title delete'
            'description description'
            'add-task add-task';
        gap: 12px;

        h2 {
            grid-area: title;
            font-family: var(--font-secondary);
            font-size: var(--font-size-lg);
            &::first-letter {
                color: var(--color-green);
                text-transform: capitalize;
            }
        }

        .RemoveBoard__Button {
            grid-area: delete;
            justify-self: end;
            color: AddTask__Button;
            padding: 4px 3px 4px 4px;
            font-size: var(--font-size-md);
            cursor: pointer;

            svg {
                color: var(--color-red);
                font-size: var(--font-size-lg);
            }

            &:hover {
                svg {
                    color: var(--color-blue);
                }
            }
        }

        p {
            grid-area: description;
            align-self: start;
            font-size: var(--font-size-md);
            font-weight: 400;
            color: var(--color-dark);
        }

        .AddTask__Button {
            grid-area: add-task;
            border: none;
            align-self: center;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: transparent;
            font-size: var(--font-size-sm);
            background-color: var(--color-green);
            color: var(--color-dark);
            padding: 12px 0;
            cursor: pointer;
            border-radius: 8px;
            height: 40px;

            svg {
                margin-right: 4px;
            }

            &:hover {
                outline: 2px solid var(--color-light);
            }
        }
    }

    .NewTask {
        background-color: var(--color-green);
        padding: 12px;
        border-radius: 4px;
        margin-top: 10px;
        display: grid;
        gap: 8px;

        .NewTask__Header {
            display: grid;
            grid-template-columns: 1fr auto;
            column-gap: 12px;
            align-items: center;

            .FormError__Container {
                padding: 8px;
            }

            .NewTask__Button {
                cursor: pointer;
                justify-self: end;
                border: none;
                background-color: var(--color-light);
                display: flex;
                justify-content: center;
                align-items: center;
                width: 40px;
                height: 40px;
                border-radius: 40px;
                padding: 4px;

                svg {
                    font-size: var(--font-size-md);
                    color: var(--color-dark);
                }

                &:hover {
                    outline: 2px solid var(--color-dark);
                }
            }
        }

        .NewTask__Form {
            display: grid;
            gap: 12px;

            input {
                border-radius: 4px;
                height: 45px;
                border: none;
            }

            input[type='text'] {
                padding: 0 12px;
                font-size: var(--font-size-md);
            }

            input[type='submit'] {
                background-color: var(--color-light);
                cursor: pointer;
                color: var(--color-dark);
                font-size: var(--font-size-sm);
                font-weight: bold;

                &:hover {
                    outline: 2px solid var(--color-dark);
                }
            }
        }
    }

    .Board__Task {
        margin-top: 12px;
        align-self: start;
        display: grid;
        row-gap: 12px;
    }

    &.dark {
        .Board__Header {
            gap: 8px;
            p {
                color: var(--color-light);
            }
        }

        .NewTask {
            background-color: rgba(#efe9f4, 0.05);

            &__Button {
                &:hover {
                    outline: 2px solid var(--color-green);
                }
            }

            &__Form {
                input[type='submit'] {
                    &:hover {
                        outline: 2px solid var(--color-green);
                    }
                }
            }
        }
    }
}

.Board__Confirm--Remove {
    display: grid;
    row-gap: 20px;
    width: 300px;
    place-items: center;
    margin-bottom: 16px;

    .Icon {
        $size: 80px;
        width: $size;
        height: $size;
        padding: 8px;
        color: var(--color-red);
        border: 3px solid var(--color-red);
        border-radius: $size;
    }

    .Label {
        font-size: var(--font-size-md);
        text-align: center;
    }

    .Button {
        width: 180px;
        height: 40px;
        border: none;
        border-radius: 4px;
        color: var(--color-light);
        background-color: var(--color-red);
        font-size: var(--font-size-md);
        cursor: pointer;
        transition: all 350ms ease;

        &:hover {
            transition: all 250ms ease;
            color: var(--color-red);
            background-color: var(--color-dark);
        }
    }
}
