@use './vars' as *;

.SearchForm {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr auto auto;
    align-items: center;

    border-radius: 5px;
    overflow: hidden;

    & > .ResetSearchedValue {
        font-size: var(--font-size-md);
        cursor: pointer;
        margin-right: 4px;
        &:hover {
            color: var(--color-red);
        }
    }

    input {
        border: none;
        height: inherit;
        outline: none;
        font-family: var(--form-secondary);
        font-size: var(--font-size-md);
        padding: 8px 0 8px 10px;
    }

    button {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4px;
        height: 100%;
        padding: 0 8px;
        font-weight: 400;
    }
}

.SearchForm.light {
    border: 2px solid var(--color-dark);

    input {
        background-color: var(--color-light);
        color: var(--color-dark);
        &::placeholder {
            color: var(--color-dark);
            font-weight: 500;
        }
    }

    button {
        background-color: var(--color-light);
    }
}

.SearchForm.dark {
    border: 1px solid $color-cream;

    input {
        background-color: var(--color-dark);
        color: $color-cream;
        &::placeholder {
            color: $color-cream;
        }
    }

    button {
        background-color: var(--color-dark);
        color: var(--color-dark);
        font-size: var(--font-size-md);
        background-color: $color-cream;
    }
}
